<h1> Log in to this app by istherea Ltd  </h1>
	

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="field"> 
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true ,:placeholder => 'Email',:class=> "input_text", :size => 32 ,:tabindex => 5 %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password,:class=> "input_text", :size => 32 ,:tabindex => 5 %>
</div>

<label>
  &nbsp;
</label>

<div class="buttonHolder">
  <%= f.submit "Sign in",  :class => "btn", :tabindex => 12  %>
</div>
<% end %>

<div class="grid_1 alpha">
&nbsp;
</div>
<p>&nbsp;</p>
<h2> Want an account?  </h2>
<div class="buttonHolder">
  <%= button_to "Sign up", new_user_registration_path, :class => 'btn', :method => 'get'  %>
</div>


<div class="grid_1 alpha">
  &nbsp;
</div> 
<div class="grid_1 alpha">
  &nbsp;
</div> 
<h4> This app is by istherea Ltd.  You can use your log in for all apps published by istherea. </h4>
