<!DOCTYPE html>
<html>
<head>
  <title>Istherea</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Istherea - intersection of people, place & time. iPhone Apps." />
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
</head>
<body>

<div class="bText">
&nbsp;
</div>

  <div class="grid_22">  
    <div class="textBlock">
      <div class="Text">

	<section class="round">
	  <% flash.each do |key, value| %>
	  <div class="flash <%= key %>"><%= value %></div>
	  <% end %>
	  <%= yield %>
	</section>
      </div>
    </div>
    
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
